LOTTERY_SECRET_KEY=replace-with-a-long-random-secret
LOTTERY_ACCESS_PASSWORD=replace-with-a-private-password
LOTTERY_AUTO_UPDATE=1
LOTTERY_WARM_MODELS=1
LOTTERY_HOST=0.0.0.0
LOTTERY_PORT=5000
LOTTERY_THREADS=8
